body{
	background-image: url("wood.jpg");
	background-repeat: cover;
	background-attachment: fixed;
	margin: 0;
}

.wrapper {
	margin: 0 auto;
	background-color: white;
	width: 80%;
	height: 1100px;
}

#logo{
	font-size: 3em;
}
nav {
	text-align: center;
	background-color: brown;
	border-bottom: 5px yellow solid;
}
nav ul li{
	text-transform: uppercase;
	display: inline-block;
	width: 15%;
	padding: 20px 0;
}
nav ul li a{
		text-decoration: none;
}
img {

}
h1 {
	text-align: center;
}
article {
	float: left;
	width: 30%;
	margin: 6px;
	padding: 4px;
	text-align: center;
}
footer {
	text-align: center;
	clear: both;
	background-color: gray;
}

