body{
	background-image: url("images/wood.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	margin: 0;
	color: lightgray;
}

.wrapper {
	margin: 0 auto;
	background-color: #808080;
	width: 80%;
	height: 100%;
}

#logo{
	font-size: 3em;
	margin-bottom: 20px;
}

#logo p {
	text-align: center;
}
#hero {
	margin-top: 20px;
	margin-left: 135px;
	width: 100%;
}

#hero img {
	border: 2px solid #808080;
	border-radius: 15px;
}
nav {
	font-size: 1.3em;
	font-weight: 900;
	text-align: center;
	background-color: #100000;
	border-bottom: 5px white solid;
	border-top: 5px white solid;
	border-radius: 10px;
}
nav ul li{
	text-transform: uppercase;
	display: inline-block;
	width: 15%;
	padding: 20px 0;
}
nav ul li a{
		text-decoration: none;
		color: #808080;
}

h1 {
	text-align: center;
}
.feature {
	float: left;
	width: 30%;
	margin: 6px;
	padding: 4px;
	text-align: center;
}

div.card {
	width: 450px;
	height: 280px;
	margin-left: 42px;
	margin-bottom: 20px;
	border: solid white 2px;
	padding: 10px;
	background-color: lightgray;
	color: black;
	font-size: 1.1em;
}

div.card p {
	text-align: justify;
}
.card {
	float: left;
	width: 27%;
	margin: 5px;
}
.newscard {
	display: block;
	width: 50%;
	border: 5px solid gray;
	margin: 0 auto;
	margin-bottom: 50px;
	padding: 5px;
}

.newscard img {
	width: 80%;
	height: 50%;
}

footer {
	text-align: center;
	clear: both;
	background-color: gray;
}
.sidepic {
	width: 90%;
	height: 40%;
}

h1#about-heading {
	padding-top: 0;
	font-size: 3em;
}
#content {
	text-align: center;
	padding-top: 50px;
	padding-left: 25px;
	margin: 0 auto;
}

#content h4 {
	font-size: 1.5em;
}

.prodcard {
	float: left;
	width: 28%;
	margin-left: 35px;
	margin-bottom: 20px;
	border: 5px solid gray;
	border-radius: 0 30px;
	padding-bottom: 5px;
	background-color: white;
	color: black;
}
article.prodcard img {
 height:200px;
 width: 100%;
 border-radius: 0 26px;
}

.team-card {
	/*border: 2px solid white;*/
	text-align: center;
	float: left;
	width: 40%;
	margin: 10px;
}

.team {
	width: 50%;
	height: 5%;
	border: 2px solid #808080;
	border-radius: 20px;
}


